---
sudo: required
dist: trusty

language: c

compiler:
  - clang
  - gcc

env:
  matrix:
    - MAKE_TARGET=check
    - MAKE_TARGET=distcheck

matrix:
  include:
    - compiler: gcc
      env: MAKE_TARGET=lcov CONFIGURE_FLAGS=--enable-code-coverage

addons:
  apt:
    packages:
    - lcov
    - libcurl3
    - libcurl4-gnutls-dev
    - liblua5.1-0-dev
    - python-docutils
    - python-sphinx

before_install:
  - wget --no-check-certificate http://varnish-cache.org/_downloads/varnish-6.0.0.tgz
  - tar zxvf varnish-*.tgz
  - pushd varnish-*
  - ./autogen.sh
  - ./configure
  - make -sj32
  - sudo make PREFIX="/usr/local" install
  - sudo ldconfig
  - popd

before_script:
  - ./autogen.sh
  - ./configure --prefix=/usr $CONFIGURE_FLAGS
  - make -j1

script:
  - make $MAKE_TARGET -j1

after_success:
  - test "$MAKE_TARGET" = lcov || exit 0
  - cp libvmod-cfg-*-coverage.info codecov.info
  - bash <(curl -s https://codecov.io/bash) -X gcov -X coveragepy

after_failure:
  - cat src/tests/test-suite.log
